<form id="user-login">
  <div>
    {{> atoms-textfield }}
    {{> atoms-password }}
    <div class="form-actions form-wrapper" id="edit-actions">
      {{> atoms-button }}
    </div>
  </div>
</form>
