<div class="form-item form-type-textfield form-item-textfield">
    <label for="edit-textfield">Textfield </label>
    <input type="text" id="edit-textfield" name="textfield" value="Ac eu vitae" size="60" maxlength="128" class="form-text">
    <div class="description">Duis orci nunc, lacinia in malesuada et, euismod id turpis.</div>
</div>

<div class="form-item form-type-password form-item-password">
    <label for="edit-password">Password </label>
    <input type="password" id="edit-password" name="password" size="60" maxlength="128" class="form-text">
    <div class="description">Sed viverra, quam non hendrerit laoreet, massa odio blandit arcu, ac molestie metus diam eu tortor.</div>
</div>

<div class="form-item form-type-textarea form-item-textarea">
    <label for="edit-textarea">Textarea </label>
    <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
        <textarea id="edit-textarea" name="textarea" cols="60" rows="5" class="form-textarea">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam iaculis, velit gravida convallis tincidunt, felis enim venenatis lorem, nec lobortis nisl urna et mi. Pellentesque ac dictum ante. Fusce dignissim tempor elementum. Ut dignissim convallis eros, viverra luctus lacus consequat ac. Sed feugiat velit sed magna aliquam accumsan. Nam vitae porta tortor. Nam auctor dui a neque iaculis in aliquam erat viverra. Duis orci nunc, lacinia in malesuada et, euismod id turpis. Cras mattis vulputate erat, eget tempor magna egestas eu. Vestibulum sit amet massa est.
        </textarea>
        <div class="grippie"></div>
    </div>
    <div class="description">Pellentesque ac dictum ante.</div>
</div>

<div class="form-item form-type-textfield form-item-textfield">
    <label for="edit-textfield">Required</label>
    <input type="text" id="edit-textfield" name="textfield" value="Ac eu vitae" size="60" maxlength="128" class="form-text required">
    <div class="description">Duis orci nunc, lacinia in malesuada et, euismod id turpis.</div>
</div>

<div class="form-item form-type-textfield form-item-textfield">
    <label for="edit-textfield">Error</label>
    <input type="text" id="edit-textfield" name="textfield" value="Ac eu vitae" size="60" maxlength="128" class="form-text error">
    <div class="description">Duis orci nunc, lacinia in malesuada et, euismod id turpis.</div>
</div>
