<div class="form-item form-type-checkbox form-item-checkbox">
    <input type="checkbox" id="edit-checkbox" name="checkbox" value="1" checked="checked" class="form-checkbox">  <label class="option" for="edit-checkbox">Checkbox {{# forms.text.required }}<span class="form-required" title="This field is required.">*</span>{{/ forms.text.required }}</label>
    {{# forms.text.description }}
        <div class="description">{{ forms.text.description }}</div>
    {{/ forms.text.description }}
</div>