<div class="form-item form-type-checkbox form-item-checkbox">
    <input type="checkbox" id="edit-checkbox" name="checkbox" value="1" checked="checked" class="form-checkbox">  <label class="option" for="edit-checkbox">Checkbox {{# forms.checkbox.required }}<span class="form-required" title="This field is required.">*</span>{{/ forms.checkbox.required }}</label>
    {{# forms.checkbox.description }}
        <div class="description">{{ forms.checkbox.description }}</div>
    {{/ forms.checkbox.description }}
</div>