<div class="form-item form-type-radios form-item-radios">
    <label for="edit-radios">Radios </label>
    <div id="edit-radios" class="form-radios"><div class="form-item form-type-radio form-item-radios">
        <input type="radio" id="edit-radios-iaculis-viverra-vestibulum" name="radios" value="Iaculis viverra vestibulum" class="form-radio">  <label class="option" for="edit-radios-iaculis-viverra-vestibulum">Iaculis viverra vestibulum </label>

    </div>
        <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-urna-id-est" name="radios" value="Urna id est" class="form-radio">  <label class="option" for="edit-radios-urna-id-est">Urna id est </label>

        </div>
        <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-nam-eget-auctor" name="radios" value="Nam eget auctor" class="form-radio">  <label class="option" for="edit-radios-nam-eget-auctor">Nam eget auctor </label>

        </div>
        <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-viverra-iaculis-tempor" name="radios" value="Viverra iaculis tempor" class="form-radio">  <label class="option" for="edit-radios-viverra-iaculis-tempor">Viverra iaculis tempor </label>

        </div>
        <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-fusce-accumsan-amet" name="radios" value="Fusce accumsan amet" class="form-radio">  <label class="option" for="edit-radios-fusce-accumsan-amet">Fusce accumsan amet </label>

        </div>
    </div>
    <div class="description">Phasellus ac eleifend magna.</div>
</div>
