<div class="form-item form-type-checkboxes form-item-checkboxes">
    {{# forms.checkboxes.label }}
        <label for="edit-checkboxes">{{ forms.checkboxes.label }} {{# forms.checkboxes.required }}<span class="form-required" title="This field is required.">*</span>{{/ forms.checkboxes.required }}</label>
    {{/ forms.checkboxes.label }}
    <div id="edit-checkboxes" class="form-checkboxes"><div class="form-item form-type-checkbox form-item-checkboxes-Iaculis-viverra-vestibulum">
        <input type="checkbox" id="edit-checkboxes-iaculis-viverra-vestibulum" name="checkboxes[Iaculis viverra vestibulum]" value="Iaculis viverra vestibulum" class="form-checkbox">  <label class="option" for="edit-checkboxes-iaculis-viverra-vestibulum">Iaculis viverra vestibulum </label>

    </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-Urna-id-est">
            <input type="checkbox" id="edit-checkboxes-urna-id-est" name="checkboxes[Urna id est]" value="Urna id est" class="form-checkbox">  <label class="option" for="edit-checkboxes-urna-id-est">Urna id est </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-Nam-eget-auctor">
            <input type="checkbox" id="edit-checkboxes-nam-eget-auctor" name="checkboxes[Nam eget auctor]" value="Nam eget auctor" class="form-checkbox">  <label class="option" for="edit-checkboxes-nam-eget-auctor">Nam eget auctor </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-Viverra-iaculis-tempor">
            <input type="checkbox" id="edit-checkboxes-viverra-iaculis-tempor" name="checkboxes[Viverra iaculis tempor]" value="Viverra iaculis tempor" class="form-checkbox">  <label class="option" for="edit-checkboxes-viverra-iaculis-tempor">Viverra iaculis tempor </label>

        </div>
        <div class="form-item form-type-checkbox form-item-checkboxes-Fusce-accumsan-amet">
            <input type="checkbox" id="edit-checkboxes-fusce-accumsan-amet" name="checkboxes[Fusce accumsan amet]" value="Fusce accumsan amet" class="form-checkbox">  <label class="option" for="edit-checkboxes-fusce-accumsan-amet">Fusce accumsan amet </label>

        </div>
    </div>
    {{# forms.checkboxes.description }}
        <div class="description">{{ forms.checkboxes.description }}</div>
    {{/ forms.checkboxes.description }}
</div>