<div class="form-item form-type-password form-item-password">
    {{# forms.text.showLabel }}
    <label for="edit-password">Password {{# forms.text.required }}<span class="form-required" title="This field is required.">*</span>{{/ forms.text.required }}</label>
    {{/ forms.text.showLabel }}
        <input type="password" id="edit-password" name="password" size="60" maxlength="128" class="form-text">
    {{# forms.text.description }}
        <div class="description">{{ forms.text.description }}</div>
    {{/ forms.text.description }}
</div>