<div class="form-item form-type-password form-item-password">
    {{# forms.password.label }}
    <label for="edit-password">{{ forms.password.label }} {{# forms.password.required }}<span class="form-required" title="This field is required.">*</span>{{/ forms.password.required }}</label>
    {{/ forms.password.label }}
        <input type="password" id="edit-password" name="password" size="60" maxlength="128" class="form-text">
    {{# forms.password.description }}
        <div class="description">{{ forms.password.description }}</div>
    {{/ forms.password.description }}
</div>