<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
        {{# emergency }}
            {{> molecules-alert:error }}
        {{/ emergency }}
        {{# status }}
            {{> molecules-alert:status }}
        {{/ status }}
        {{# warning }}
            {{> molecules-alert:warning }}
        {{/ warning }}

        <hr />

        <h1>{{ title }}</h1>
        {{> organisms-latest-posts }}
        {{> molecules-pagination }}
	</div>
	{{> organisms-footer }}
</div>
