<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-two-col">
            <article class="article">
                <header class="article-header">
                    <h1>{{ title }}</h1>
                    {{> molecules-submitted }}
                </header>
                {{> organisms-article-body }}
            </article>
        </div>
	</div>
	{{> organisms-footer }}
</div>