<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<div class="l-two-col">
            <article class="article">
                <header class="article-header">
                    <h1>Article Headline Lorem ipsum dolor sit aweofij</h1>
                    {{> molecules-byline }}
                </header>
                {{> organisms-article-body }}
            </article>
        </div>
	</div>
	{{> organisms-footer }}
</div>