<div class="meta submitted">
    <span>Submitted by <a href="/user/1" title="View user profile." class="username">{{ author.first-name }} {{ author.last-name }}</a> on {{ dayofweek.short }} {{ day.short }}{{ day.ordinal }} {{ month.long }} {{ year.long }}</span>
</div>
