<div class="node clearfix">
    <h2>
        <a href="{{ url }}">Facilisis Humo Jugis</a>
    </h2>
    {{> molecules-submitted }}
    <div class="content clearfix">
        <div>{{> atoms-thumbnail }}</div>
        <p>{{ excerpt.medium }}</p>
    </div>
    {{> molecules-inline-nav }}
    {{> atoms-hr }}
</div>