<ul id="main-menu" class="links inline clearfix">
    <li class="first active"><a href="{{ url }}" class="active">Home</a></li>
    <li><a href="{{ url }}" title="">One</a></li>
    <li><a href="{{ url }}" title="">Two</a></li>
    <li><a href="{{ url }}" title="">Three</a></li>
    <li><a href="{{ url }}" title="">Four</a></li>
    <li class="last"><a href="{{ url }}" title="">Five</a></li>
</ul>