<div class="item-list">
    <ul class="pager">
        <li class="pager-first first"><a title="Go to first page" href="{{url}}">« first</a></li>
        <li class="pager-previous"><a title="Go to previous page" href="{{url}}">‹ previous</a></li>
        <li class="pager-ellipsis">…</li>
        <li class="pager-item"><a title="Go to page 5" href="{{url}}">5</a></li>
        <li class="pager-item"><a title="Go to page 6" href="{{url}}">6</a></li>
        <li class="pager-item"><a title="Go to page 7" href="{{url}}">7</a></li>
        <li class="pager-item"><a title="Go to page 8" href="{{url}}">8</a></li>
        <li class="pager-current">9</li>
        <li class="pager-item"><a title="Go to page 10" href="{{url}}">10</a></li>
        <li class="pager-item"><a title="Go to page 11" href="{{url}}">11</a></li>
        <li class="pager-item"><a title="Go to page 12" href="{{url}}">12</a></li>
        <li class="pager-item"><a title="Go to page 13" href="{{url}}">13</a></li>
        <li class="pager-ellipsis">…</li>
        <li class="pager-next"><a title="Go to next page" href="{{url}}">next ›</a></li>
        <li class="pager-last last"><a title="Go to last page" href="{{url}}">last »</a></li>
    </ul>
</div>
