<ul class="tabs primary">
    <li><a href="{{url}}">View</a></li>
    <li><a href="{{url}}">Edit</a></li>
    <li class="active"><a href="{{url}}" class="active">Active tab<span class="element-invisible">(active tab)</span></a></li>
</ul>
