<div class="link-wrapper">
    <ul class="links inline">
        <li class="first"><a href="{{url}}">Read more<span class="element-invisible"> about Cui Meus</span></a></li>
        <li class="last"><a href="{{url}}">1 comment</a></li>
    </ul>
</div>