<div class="node clearfix">
    <h2>
        <a href="{{ url }}">I am the article</a>
    </h2>
    {{> molecules-submitted }}
    <div class="content clearfix">
        <p>{{ excerpt.medium }}</p>
    </div>
</div>