<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #234600;"></span>
		<span class="sg-label">#234600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #be7;"></span>
		<span class="sg-label">#be7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f8fff0;"></span>
		<span class="sg-label">#f8fff0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #840;"></span>
		<span class="sg-label">#840</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ed5;"></span>
		<span class="sg-label">#ed5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fffce5;"></span>
		<span class="sg-label">#fffce5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8c2e0b;"></span>
		<span class="sg-label">#8c2e0b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ed541d;"></span>
		<span class="sg-label">#ed541d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fef5f1;"></span>
		<span class="sg-label">#fef5f1</span>
	</li>
</ul>