{{# fonts }}
  <p style="font-family: {{ value }};">{{ value }}</p>
  <p style="font-family: {{ value }};"><strong>{{ value }} (bold)</strong></p>
  <p style="font-family: {{ value }};"><em>{{ value }} (italic)</em></p>
  <p style="font-family: {{ value }};"><strong><em>{{ value }} (bold italic)</em></strong></p>
{{/ fonts }}
